/*
Ujikom 2016 SMK Pasim
Rismawan Junandia 
*/
/* 
    Created on : Jan 26, 2016, 1:13:23 PM
    Author     : Rismawan Junandia
*/

body {
    
}

a {
    text-decoration: none;
    background-color: green;
    color: white;
}
a:active {
    text-decoration: none;
    background-color: black;
    color: white;
}
a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}
section#content {
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 0;
    right: 0;
    overflow: auto;
}

footer {
    width: 100%;
    height: 100px;

            }

footer a {
    text-decoration: none;
    background-color: black;
    color: white;
    }
footer a:active {
    text-decoration: none;
    background-color: black;
    color: white;
}
footer a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
}
        #navigation {
            background-color : black;
            width : auto;
            height : 35px;
            border-bottom : 1px solid #ccc;
        }
        
        #navigation ul {
            padding:0;
            margin:0;
            list-style-type:none;
        }
         
        #navigation ul li {
            float:left;
            position : relative;
        }
         
        #navigation ul li a {
            display:block;
            padding:10px 20px;
            color:#fff;
            text-decoration:none;
            font-family: calibri;
        }
         
        #navigation ul li a:hover {
            background-color:#72b626;
        }
         
        /* Menu Dropdown */
        
        #navigation ul li ul {
            display: none;
        }
         
        #navigation ul li:hover ul {
            display:block;
            position: absolute;
        }
        
        #navigation ul li:hover ul li a {
            display:block;
            background-color : black;
            color : #fff;
            width : 150px;
            border-bottom : 1px solid #ccc;
        }
        
        #navigation ul li:hover ul li a:hover {
            background-color : #72b626;
        }
        
        #navigation ul li:hover > a {background: #72b626;}
footer {
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: black;
    color: white;
    clear: both;
    float: bottom;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}